<h1 style="color:#009933;margin: 0 400px;">Madison's Trip to Germany</h1>
<p style="margin: 20 100px;">Last summer, I traveled to Germany with a professor and group of students from my college. We visited universities, museums, churches, historic sites, businesses and newspaper offices while studying German culture. We met dozens of Germans and American ex-pats, including the widow of a famous German revolutionary, a graffiti artist, and an editor at Bloomberg's office in Berlin. These are some photos from the trip.</p>

<div class = "photo_columns">
<%= image_tag 'group.jpg', class:"photos-on-page" %>
<%= image_tag 'Second_German_church.jpg', class:"photos-on-page" %>
<%= image_tag 'walk_wall.jpg', class:"photos-on-page" %>
<%= image_tag 'German_church.jpg', class:"photos-on-page" %>
<%= image_tag 'fake_berlin_wall.jpg', class:"photos-on-page" %>
<%= image_tag 'architecture.jpg', class:"photos-on-page" %>
<%= image_tag 'garden.jpg', class:"photos-on-page" %>
<%= image_tag 'another_church.jpg', class:"photos-on-page" %>
<%= image_tag 'tower.jpg', class:"photos-on-page" %>
</div>

<div id="map-canvas"></div>

