<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= javascript_include_tag"https://maps.googleapis.com/maps/api/js?key=AIzaSyDuc-8Q5rt9P8G1sbapS-5yyofFn8jp-mc" %>
<%= yield %>

</body>
</html>
